@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.container {
  font-family: Arial, Helvetica, sans-serif;
  color: azure;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert {
  font-size: 1.4rem;
  font-weight: 800;
}

.large {
  font-size: 2rem;
}

.bigger {
  font-size: 1.5rem;
}

.small-text {
  font-size: 0.9rem;
}

.yellow {
  color: rgb(250, 250, 210);
}

/* form header */

.form-area {
  min-height: 100px;
  width: 100%;
  background-color: rgba(96, 96, 96, 1);
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1fr) 1fr;
  column-gap: 10px;
  justify-items: center;
  align-items: center;
}

form {
  display: flex;
}

.logo {
  font-family: 'Righteous', Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
}

input[type='text'] {
  padding: 10px;
  color: rgba(96, 96, 96, 1);
  margin-right: 5px;
  border: 0 none;
  border-radius: 5px;
}

button.search {
  padding-bottom: 0;
  background-color: rgba(96, 96, 96, 1);
  color: white;
  font-size: 1.2rem;
  border: 0 none;
  cursor: pointer;
}

button:hover {
  color: rgb(170, 170, 170);
}

/* rule to hide placeholder on focus */

::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
} /* Chrome <=56, Safari < 10 */
:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
} /* FF 4-18 */
::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
} /* FF 19-51 */
:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.5s;
  transition: opacity 0.5s;
} /* IE 10+ */
::placeholder {
  opacity: 1;
  transition: opacity 0.5s;
} /* Modern Browsers */

*:focus::-webkit-input-placeholder {
  opacity: 0;
} /* Chrome <=56, Safari < 10 */
*:focus:-moz-placeholder {
  opacity: 0;
} /* FF 4-18 */
*:focus::-moz-placeholder {
  opacity: 0;
} /* FF 19-50 */
*:focus:-ms-input-placeholder {
  opacity: 0;
} /* IE 10+ */
*:focus::placeholder {
  opacity: 0;
} /* Modern Browsers */

/* unit switch */

.temp-switch {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 57px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(160, 160, 160);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 23px;
  width: 23px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(160, 160, 160);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(160, 160, 160);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 23px;
}

.slider.round:before {
  border-radius: 50%;
}

.temp-letters {
  z-index: 2;
  display: flex;
  gap: 20px;
  position: relative;
  top: 7px;
  left: 10px;
  color: rgba(96, 96, 96, 1);
  font-size: 12px;
}

/* form error box */

.error-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding: 10px;
  min-width: 300px;
  min-height: 120px;
  border: 0;
  border-radius: 5px;
  background-color: rgba(96, 96, 96, 0.6);
}

.error-box > * {
  padding: 5px;
}

/* content container */

.content-container {
  width: 80%;
  margin: auto 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: start;
  justify-content: center;
  gap: 1rem;
}

.weather-current {
  min-height: 300px;
  margin-top: 20px;
  padding: 5px;
  background-color: rgba(52, 89, 149, 0.6);
  display: grid;
  border-radius: 5px;
  grid-template-columns: 1fr;
  row-gap: 5px;
}

.weather-current > * {
  padding-left: 1rem;
  /* border: 2px solid green; */
}

.city-name {
  padding-top: 10px;
  display: flex;
}

.city-box {
  padding-right: 1rem;
}

.main-info-box {
  display: flex;
  align-items: center;
}

.current-temp {
  width: 130px;
  font-size: 2.8rem;
}

.extra-box-1 > * {
  padding-bottom: 2px;
}

.extra-box-2 {
  display: flex;
}

.humidity {
  padding-left: 5px;
}

.sunrise-sunset {
  display: flex;
  padding-bottom: 10px;
}

.sunset {
  padding-left: 15px;
}
/* hours section */

.hours-container {
  grid-column: span 2;
  margin-top: 20px;

  background-color: rgba(52, 89, 149, 0.6);
  border-radius: 5px;
}

.hours-header {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.hours-roll {
  max-height: 650px;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.hour-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  row-gap: 10px;
  padding: 1rem;
}

.hour-row:nth-child(odd) {
  background-color: rgba(52, 89, 149, 0.6);
}

.hour-row:nth-child(even) {
  background: rgba(48, 82, 136, 0.6);
}

.hour-row > * {
  padding-right: 5px;
}

.hour-box {
  font-size: 2rem;
}

@media screen and (max-width: 600px) {
  .content-container {
    width: 90%;
  }
  .hours-container {
    grid-column: span 1;
  }

  .hours-roll {
    max-height: none;
  }
}

/* footer */

.footer {
  position: fixed;
  height: 40px;

  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.static-bar {
  background-color: rgba(96, 96, 96, 1);
  color: #edeae5;
}

.static-bar a {
  color: #edeae5;
}

.static-bar a:hover {
  color: #afaca6;
}

@media screen and (max-width: 1000px) {
  .form-area {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 5px;
    padding: 15px;
  }
  .content-container {
    width: 90%;
  }

  .hours-roll {
    max-height: none;
  }
}

@media screen and (min-width: 1600px) {
  .content-container {
    width: 70%;
  }
}
