@import-normalize;
/* this should be a css reset */

html {
  background: url('./images/weather.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
